.page-section{
    padding: 1.2rem 0;

    @include atSmall {
        padding: 2rem 0;
    }
    @include atMedium{
        padding: 3rem 0;
    }
    @include atLarge{
        padding: 4.5rem 0;
    }


    &--t-padding{
        padding-top: 2rem;
    }

    &--small{
        padding: 0.8rem 0;
        @include atSmall {
            padding: 1rem 0;
        }
        @include atMedium{
            padding: 2rem 0;
        }
        @include atLarge{
            padding: 2.5rem 0;
        }
    }

}