@mixin fontAwesomeIcon ($group, $icon-name) {
  @extend %fa-icon;
  @extend #{$group};
  &:before{
    content: fa-content(#{$icon-name})
  }
}

@mixin mediumSizeIcon{
  font-size: 3rem;
  @include atMedium{
    font-size: 4rem;
  }
}

@mixin smallSizeIcon {
  font-size: 2rem;
  @include atMedium{
    font-size: 3rem;
  }
}

@mixin primarySecondaryIconColors {
  &--primary{
    color: $color-primary-3;
  }
  &--secondary{
    color: $color-secondary-1-0;
  }
}



.stack{
  @include fontAwesomeIcon('.fab', $fa-var-stack-overflow);
  @include mediumSizeIcon();
  @include primarySecondaryIconColors()

}

.cogs{
  @include fontAwesomeIcon('.fas', $fa-var-cogs);
  @include mediumSizeIcon();
  @include primarySecondaryIconColors();
}

.laptop{
  @include fontAwesomeIcon('.fas', $fa-var-laptop-code);
  @include mediumSizeIcon();
  @include primarySecondaryIconColors();

}

.bars{
  @include fontAwesomeIcon('.fas', $fa-var-bars);
  @include smallSizeIcon();
  @include primarySecondaryIconColors();
}

.cross{
  @include fontAwesomeIcon('.fas', $fa-var-times);
  @include smallSizeIcon();
  @include primarySecondaryIconColors();
}
.knight{
  @include fontAwesomeIcon('.fas', $fa-var-chess-knight);
  @include smallSizeIcon();
  @include primarySecondaryIconColors();
}

.cheveron-left{
  @include fontAwesomeIcon('.fas', $fa-var-chevron-left);
  @include primarySecondaryIconColors();
  font-size: 1.5rem;
  color: #fff;
  padding-right:3px;
  @include atMedium{
    font-size: 3rem;
  }
  
}

.cheveron-right{
  @include fontAwesomeIcon('.fas', $fa-var-chevron-right);
  @include primarySecondaryIconColors();
  font-size: 1.5rem;
  color: #fff;
  padding-left: 2px;
  @include atMedium{
    font-size: 3rem;
  }
  
}

.facebook{
  @include fontAwesomeIcon( '.fab', $fa-var-facebook-square);
  @include smallSizeIcon();
  

}

.stackoverflow{
  @include fontAwesomeIcon( '.fab', $fa-var-stack-overflow );
  @include smallSizeIcon();
  

}

.hackerrank{
  @include fontAwesomeIcon( '.fab', $fa-var-hackerrank);
  @include smallSizeIcon();
  
}
.github{
  @include fontAwesomeIcon( '.fab', $fa-var-github);
  @include smallSizeIcon();
  
}
.linkedin{
  @include fontAwesomeIcon( '.fab', $fa-var-linkedin);
  @include smallSizeIcon();
  
}