.skills{
    background-color: $grey-background;
    text-align: center;
    font-weight: 300;


    &__icon{
        padding: 0.5rem 0;
        @include atMedium{
            padding: 1rem 0;
        }
        
    }
    
    &__box{
        background-color: #fff;
        padding: 0.5rem 0.5rem;
        border: 1px solid #bbb;
        border-radius: 1rem;
        margin: 2rem auto;
        box-shadow: #bbb 5px 5px 5px;

        @include atMedium{
            padding: 1rem 1rem;
            border-radius: 1rem 0 0 1rem;
        }

        &--middle{
            @include atMedium{
                border-radius: 0;
            }
        }
        &--end{
            @include atMedium{
                border-radius: 0 1rem 1rem 0;
            }
        }
    }
    &__title{
        padding: 0.5rem 0.5rem 0.2rem  0.5rem;
        border-bottom: 1px solid rgb(231, 231, 231);
        color: $color-primary-0;
        font-weight: 400;
        font-size: 1.4rem;
        @include atSmall{
            font-size: 1.6rem;
        }
        @include atMedium{
            font-size: 1.8rem;
            padding: 1rem 1rem 0.4rem  1rem;
        }
    }
    &__subtitle{
        padding: 1rem 1rem 0.4rem  1rem;
        color: $color-primary-0;
        border-bottom: 1px solid rgb(240, 240, 240);
        font-weight: 400;
        font-size: 1.2rem;

    }
    &__text-content{
        font-size: 0.8rem;
        padding: 1rem;
        @include atMedium{
            font-size: 1rem;
        }
    }


}