.projects{
    

    &__img{
        //background-color: #293347;
        background: linear-gradient(35deg,#CCFFFF, #FFCCCC);
        position: relative;
        border-radius: 2rem;      
        overflow: hidden;
        
        &:hover{
            img{
                opacity: 0.1;
            }
            .overlay{
                opacity: 1;
                transform: scale(1);
            }
        }
        
        img{
            border-radius: 2rem;
            display: block;
            opacity: 0.7;
            transition: all 0.5s ease-in-out;
            &:hover{
                opacity: 0.1;
            }

        }
    }
    &__div{
        padding-top: 2rem;
    }
    &__text{
        font-size:1.4rem;
    }
    &__paragraph{
        padding-bottom: 0.8rem;
    }

    .overlay{
        display: block;
        position: absolute;
        top:15%;
        left:5%; 
        transform: translate( -33%, -33%);
        text-align: center;
        width: 90%;
        opacity: 0;
        transform: scale(1.5);
        transition: all 0.5s ease-in-out;
    
        @include atLarge{
            top: 10%;
        }
    }
  
}


