.btn{
    background-color: $color-primary-0;
    color: #FFF;
    padding: 0.4rem 0.8rem;
    display: inline-block;
    text-decoration: none;
    border: 3px solid $color-primary-4;
    border-radius: 0.5rem; 
    font-size: 0.9rem;

    @include atSmall {
        font-size: 1.0rem;
        padding: 0.5rem 0.9rem;
    }
    @include atMedium{
        font-size: 1.1rem;
        padding: 0.7rem 1.2rem;
    }
    @include atLarge{
        font-size:  1.25rem;
    }

    &:hover{
        background-color: $color-primary-3;
    }

    &--large{
        padding: 1.1rem 2rem;

        @include atSmall {
            font-size: 1.0rem;
        }
        @include atMedium{
            font-size: 1.1rem;
        }
        @include atLarge{
            font-size:  1.25rem;
        }
    }

    &--margin{
        margin: 0.6rem 0.6rem;
        @include atMedium{
            margin: 1rem 1rem;
        }
    }
}