$color-primary-0: #DF7E00;	// Main Primary color */
$color-primary-1: #FFA939;
$color-primary-2: #FF9000;
$color-primary-3: #B56600;
$color-primary-4: #894D00;

$color-secondary-1-0: #10149B;	// Main Secondary color (1) */
$color-secondary-1-1: #4145C2;
$color-secondary-1-2: #1A1EC3;
$color-secondary-1-3: #0B0E7E;
$color-secondary-1-4: #060860;

$color-secondary-2-0: #009A54;	// Main Secondary color (2) */
$color-secondary-2-1: #2BC17D;
$color-secondary-2-2: #00C26A;
$color-secondary-2-3: #007D44;
$color-secondary-2-4: #005F34;



// As RGBa codes */

$rgba-primary-0: rgba(223,126,  0,1);	// Main Primary color */
$rgba-primary-1: rgba(255,169, 57,1);
$rgba-primary-2: rgba(255,144,  0,1);
$rgba-primary-3: rgba(181,102,  0,1);
$rgba-primary-4: rgba(137, 77,  0,1);

$rgba-secondary-1-0: rgba( 16, 20,155,1);	// Main Secondary color (1) */
$rgba-secondary-1-1: rgba( 65, 69,194,1);
$rgba-secondary-1-2: rgba( 26, 30,195,1);
$rgba-secondary-1-3: rgba( 11, 14,126,1);
$rgba-secondary-1-4: rgba(  6,  8, 96,1);

$rgba-secondary-2-0: rgba(  0,154, 84,1);	// Main Secondary color (2) */
$rgba-secondary-2-1: rgba( 43,193,125,1);
$rgba-secondary-2-2: rgba(  0,194,106,1);
$rgba-secondary-2-3: rgba(  0,125, 68,1);
$rgba-secondary-2-4: rgba(  0, 95, 52,1);