nav{
    
    li{
        list-style: none;
    }

    a{
        color: #fff;
        text-decoration: none;
        text-align: center;
        @include atMedium{
            padding: 13px 20px;
        }
        &:hover{
            color: $color-secondary-1-0;
            
        }
    }
}