.wrapper{
    padding-left: 18px;
    padding-right: 18px;
    max-width: 1236px;
    margin-left: auto;
    margin-right: auto;

    @include atMedium{
        padding-left: 100px;
        padding-right: 100px;
    }

    &--medium{
        max-width: 976px;
        margin-left: auto;
        margin-right: auto;

    }
    &--b-margin{
        margin-bottom: 1rem;

        @include atSmall{
            margin-bottom: 2rem;
        }
        @include atMedium{
            margin-bottom: 3.875rem
        }
    }
    &--small-on-phone{
        padding-left: 9px;
        padding-right: 9px;
        @include atMedium{
            padding-left: 18px;
            padding-right: 18px;
        }

    }

    .wraper{
        padding-left:0;
        padding-right:0;
    }
}