.large-hero{
    background: linear-gradient(to bottom, rgb(83, 83, 83), #000);
    position: relative;
    color: #fff;



    &__background-img{
        color: blue;
        opacity: 0.4;
        display: block;
        line-height: 0;
    }
    &__text-content{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50% ,-50%);
        padding-top:1rem;
        width: 90%;
        max-width: 350px;
        text-align: center;
        @include atSmall{
            max-width: 700px;
            text-align: left;
            position: absolute;
            top: 60%;
            left:30%;
            transform: translate(-30% ,-50%);
        }
        
    }

    &__title{
        font-size: 1rem;
        @include atSmall{
            font-size: 1.4rem;
        }

        @include atMedium{
            font-size:2rem;
        }

    }
    &__subtitle{
        font-size: 0.8rem;
        line-height: 1.3;
        @include atSmall{
            font-size: 1rem;
            line-height: 1.65;
        }

        @include atMedium{
            font-size:1.4rem;
        }
    }


}